{% extends 'base.html.twig' %}
{% block title %}{{ meta.title }}{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block body_container %}
<body class="text-center">
    {% block body %}{{ parent() }}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
{% endblock %}