{% extends 'TemplatesSITELogin/Bootstrap/base.html.twig' %}
{% block title %}Confirmed Account!{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
    <div class="centered-container">
        <form method="post" class="form-signin p-t-15">
            <img class="p-t-15 mb-4" src="{{config.logo}}" alt="" width="72" height="72">
            <h1 class="error-number">Account Confirmed!</h1>
            <h2 class="semi-bold">You should <a href="{{ path(login_route) }}">login now</a></h2>
        </form>
    </div>
{% endblock %}