{% extends 'TemplatesSITELogin/Bootstrap/base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
    <div class="centered-container">
        <form method="post" class="form-signin p-t-15">
            <div class="transparent text-left">
                <div class="input-group">
                    <input id="user_username" name="username" required="required" type="text" class="form-control" placeholder="Enter email associated with your account." aria-label="Enter email associated with your account." aria-describedby="button-addon">
                    <div class="input-group-append">
                        <button class="btn btn-complete btn-outline-secondary" type="button" id="button-addon">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}