{% extends 'TemplatesSITELogin/Bootstrap/base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body %}
    <div class="centered-container">
        <form method="post" class="error-form">
            <div class=" transparent text-left">
                <div class="form-group form-group-default input-group">
                    <div class="form-input-group">
                        <label>Enter email associated with your account.</label>
                        <input type="text" id="user_username" name="username" required="required" class="form-control" />
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-complete btn-outline-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}