{% extends 'TemplatesSITELogin/Bootstrap/base.html.twig' %}
{% block title %}Check email to confirm account | Let There Be Sites{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block body_container %}
<body class="fixed-header error-page">
    <div class="d-flex justify-content-center full-height full-width align-items-center">
        <div class="error-container text-center">
            <h1 class="error-number">Check Email</h1>
            {% if display_email %}
            <h2 class="semi-bold">We sent an email to <span class="text-primary"><strong>{{ display_email }}</strong></span> verify your account.</h2>
                <p class="p-b-10"><a href="#">Request a new email?</a></p>
            {% else %}
            {% endif %}
            </div>
        </div>
    </div>
    {%  block javascripts %}
        {{ parent() }}
    {% endblock %}
</body>
{% endblock %}