{% extends 'TemplatesSITECore/Front/base.html.twig' %}
{% block title %}{{ meta.title }}{% endblock %}
{% block body_container %}
<body class="text-center">
    {% block body %}{{ parent() }}{% endblock %}
    {% block javascripts %}{{ parent() }}{% endblock %}
</body>
{% endblock %}